doctype html
html
  head
    title CourseTracker
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='centered')
      h1(for='task') Enter name:
      form(action='/add_task', method='POST')
        input(type='text', name='task')
        input(type='submit', value='Add')
