doctype html
html
  head
    title Success
    link(rel='stylesheet', href='css/success.css')
  body
    div(class='centered')
      h1 #{message}
      img(src='images/sketch.png', alt='Sketch of Idea', class='image-size')
      a(href='/add_task') Add a new class