doctype html
html
  head
    title User Page
    link(rel='stylesheet', href='css/user.css')
  body
    form(action='/', method='get')
        button.back(href='/') Back
    div(class='centered')
      h1 Hi #{name}!
